{% extends "core/base.html" %}

{% load static %}

{% block title %}Dux | Inicio{% endblock title %}

{% block custom_css %}
	<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock custom_css %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 my-2 text-center">
				<img id="img-live" class="img-fluid img-thumbnail mb-2" src="{% static 'core/img/live.png' %}" alt="Live">
				<div>
					<button class="btn btn-success" onclick="on_off_streaming(this)" estado="off"><b>Iniciar</b></button>
					<a class="btn btn-primary" href="{% url 'notificaciones' %}" target="_blank">Ver Notificaciones Enviadas</a>
				</div>
			</div>
			<div class="col-md-6 my-2">
				<table id="tbl-placas" class="table table-striped table-bordered table-hover table-sm">
					<thead>
						<th>Fecha / Hora</th>
						<th>Placa</th>
						<th>Imagen</th>
						<th>Notificaciones</th>
					</thead>
					<tbody>
						{% for i in "x"|rjust:"5" %}
							<tr>
								<td class="align-middle"><a href="#">{% now "d/m/Y H:i:s" %}</a></td>
								<td class="align-middle"><a href="#">ABC123W</a></td>
								<td class="align-middle text-center img-td">
									<a href="#" title="Click para ver"><img class="img-mini" src="{% static 'core/img/img.png' %}" alt="Placa"></a>
								</td>
								<td class="align-middle text-center">
									<button class="btn btn-default">0</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
{% endblock content %}

{% block custom_js %}
	<script type="text/javascript">var configurado="{{ configurado }}"</script>
	<script src="{% static 'core/js/home.js' %}"></script>
{% endblock custom_js %}